//Contents:
//  Elements
//  specific page sections as "top to bottom" (cascading) as I generally can
//  Media Queries

h4
  font-family: 'Patua One', cursive;

h6
  font-size 1.3rem
  font-weight: 500
  letter-spacing:.5px
header
  margin-bottom 15px
  &.hide-completed
    float right

form
  margin-top 10px
  margin-bottom -10px
  position relative

button.deleteAll
  float right
  font-size 1rem
  font-weight bold
  letter-spacing .5px
  &:focus
    background-color buttonface
  i
    font-size 1.4rem
    margin-right 3px

select
  border 1px solid #ccc

.container
  padding 0px 20px

.new-task
  input
    box-sizing border-box
    padding 10px 0 10px 40px
    background transparent
    background-image url('edit.png')
    background-size 28px
    background-position 0px 7px
    background-repeat no-repeat
    border-bottom #f48fb1 solid 2px
    width 100%
    padding-right 80px
    font-size 1.2rem
    font-weight 500
    letter-spacing .5px
    &:focus
      outline 0
    &::-webkit-input-placeholder //Turn this into a DRY Stylus function?
      color #c66
    &:-moz-placeholder
      color #c66
    &::-moz-placeholder
      color #c66
    &:-ms-input-placeholder
      color #c66

.delete
  float right
  font-weight bold
  background none
  font-size 1em
  border none
  position relative
  &:focus
    background-color #F44336

.checked
  color #888
  .text
    text-decoration line-through

.drawer
  overflow hidden
  height 110px

div.drawerIcon
  text-align center

#tasks
  padding-bottom 20px

.force-break
  overflow-wrap break-word
  word-wrap break-word
  -ms-word-break break-all
  word-break break-word
  -ms-hyphens auto
  -moz-hyphens auto
  -webkit-hyphens auto
  hyphens auto

@media (max-width: 600px)
  li
    padding 12px 15px
    span
      width:80%
  button.deleteAll
    float none
  .new-task
    input
      padding-bottom 5px
    margin-top 15px
  #filter
    margin-bottom:15px
  .drawer
    height 155px